network:
  ethernets:
    enp1s0:
      addresses:
      - {{ Iso.Config.OS.IPv4Address }}/24
      gateway4: {{ Iso.Config.OS.IPv4Gateway }}
      nameservers:
        addresses:
        - {{ Iso.Config.OS.IPv4DNS }}
  version: 2