services:
  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    ports:
      - 9943:9943
      - 9003:8000
      - 9000:9000

  dashdot:
    image: mauricenino/dashdot
    container_name: dashdot
    restart: unless-stopped
    ports:
      - 8002:3001
    privileged: true
    volumes:
      - /:/mnt/host:ro
    environment:
      DASHDOT_ENABLE_CPU_TEMPS: 'true'
  homarr_old:
    image: ghcr.io/ajnart/homarr:latest
    container_name: homarr_old
    restart: unless-stopped
    ports:
      - '7575:7575'
    volumes:
      - "{{ home_folder }}/homarr_backup/configs:/app/data/configs"
      - "{{ home_folder }}/homarr_backup/data:/data"
      - "{{ home_folder }}/homarr_backup/icons:/app/public/icons"
      - /var/run/docker.sock:/var/run/docker.sock 

  homarr:
    container_name: homarr
    image: ghcr.io/homarr-labs/homarr:latest
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock # Optional, only if you want docker integration
      - "{{ home_folder }}/homarr/appdata:/appdata"
    restart: unless-stopped
    ports:
      - '7576:7575'
    environment:
      - "SECRET_ENCRYPTION_KEY={{ homarr_secret_encryption_key }}"

  jackett:
    image : linuxserver/jackett:latest
    container_name: jackett
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Paris
      - AUTO_UPDATE=true #optional
    volumes:
      - "{{ home_folder }}/jackett/config:/config"
      - "{{ share_root }}/downloads:/downloads"
    ports:
      - 9117:9117
  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    restart: unless-stopped
    ports:
      - 8191:8191

  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    
  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Paris
    volumes:
      - "{{ home_folder }}/radarr/config:/config"
      - "{{ share_root }}/films:/movies" #optional
      - "{{ share_root }}/downloads:/downloads" #optional
    ports:
      - 7878:7878

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Paris
      - DOCKER_MODS=ghcr.io/gilbn/theme.park:sonarr
      - TP_ADDON=sonarr-darker
    volumes:
      - "{{ home_folder }}/sonarr/config:/config"
      - "{{ share_root }}/series:/tv" #optional
      - "{{ share_root }}/downloads:/downloads" #optional
    ports:
      - 8989:8989

  bazarr:
    image: lscr.io/linuxserver/bazarr:latest
    container_name: bazarr
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Paris
    volumes:
      - "{{ home_folder }}/bazarr/config:/config"
      - "{{ share_root }}/films:/movies" #optional
      - "{{ share_root }}/series:/tv" #optional
    ports:
      - 6767:6767

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:develop
    container_name: prowlarr
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Paris
    volumes:
      - "{{ home_folder }}/prowlarr/config:/config"
    ports:
      - 9696:9696

  readarr:
    image: lscr.io/linuxserver/readarr:develop
    container_name: readarr
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Paris
    volumes:
      - "{{ home_folder }}/readarr/config:/config"
      - "{{ share_root }}/books:/books" #optional
      - "{{ share_root }}/downloads:/downloads"
    ports: 
      - 8787:8787

  lidarr:
    image: lscr.io/linuxserver/lidarr:latest
    container_name: lidarr
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Paris
    volumes:
      - "{{ home_folder }}/lidarr/config:/config"
      - "{{ share_root }}/musics:/music"
      - "{{ share_root }}/downloads:/downloads"
    ports:
      - 8686:8686

  transmission:
    image: lscr.io/linuxserver/transmission:latest
    container_name: transmission
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Paris
      - USER=transmission #optional
      - "PASS={{ password }}" #optional
    volumes:
      - "{{ home_folder }}/transmission/config:/config"
      - "{{ share_root }}/downloads:/downloads"
      - "{{ home_folder }}/transmission/watch:/watch"
    ports:
      - 9091:9091
      - 51413:51413
      - 51413:51413/udp

  code-server:
    image: lscr.io/linuxserver/code-server:latest
    container_name: code-server
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Paris
      - PASSWORD={{ password }}
      - SUDO_PASSWORD={{ password }}
    volumes:
      - "{{ home_folder }}/code-server/config:/config"
      - "{{ home_folder }}/code-server/projects:/projects"
    ports:
      - 8443:8443
  
  cloudflare-ddns:
    image: timothyjmiller/cloudflare-ddns:latest
    container_name: cloudflare-ddns
    security_opt:
      - no-new-privileges:true
    network_mode: 'host'
    environment:
      - PUID=1000
      - PGID=1000
    volumes:
      - "{{ home_folder }}/cloudflare-ddns/config.json:/config.json"
    restart: unless-stopped

  nginx_proxy:
    container_name: nginx_proxy
    image: 'jc21/nginx-proxy-manager:latest'
    restart: unless-stopped
    ports:
      - '80:80'
      - '81:81'
      - '443:443'
    volumes:
      - "{{ home_folder }}/nginx-proxy/data:/data"
      - "{{ home_folder }}/nginx-proxy/letsencrypt:/etc/letsencrypt"
      - "{{ home_folder }}/nginx-proxy/98-themepark:/etc/cont-init.d/98-themepark"
    environment:
      - TP_THEME=organizr

  gitea:
    image: "gitea/gitea"
    container_name: gitea
    environment:
      - USER_UID=1000
      - USER_GID=1000
    restart: unless-stopped
    volumes:
      - "{{ share_root }}/gitea:/data"
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "3000:3000"
      - "222:22"
  gitea-runner:
    image: gitea/act_runner:nightly
    container_name: gitea-runner
    environment:
      - CONFIG_FILE=/config.yaml
      - GITEA_INSTANCE_URL=http://192.168.1.3:3000
      - "GITEA_RUNNER_REGISTRATION_TOKEN={{ gitea_runner_registration_token }}"
      - "GITEA_RUNNER_NAME=runner-local"
    volumes:
      - "{{ home_folder }}/gitea-runner/config.yaml:/config.yaml"
      - "{{ home_folder }}/gitea-runner/data:/data"
      - /var/run/docker.sock:/var/run/docker.sock
  mirror-to-gitea:
    image: jaedle/mirror-to-gitea:latest
    container_name: mirror-to-gitea
    restart: unless-stopped
    environment:
      - GITHUB_USERNAME=Vinz2008
      - GITEA_URL=http://192.168.1.3:3000
      - "GITEA_TOKEN={{gitea_token}}"
      #- GITHUB_TOKEN=please-exchange-with-token # Optional, set to mirror private repos
      #- MIRROR_PRIVATE_REPOSITORIES=true # Optional, set to mirror private repos
      # - DELAY=3600 # Optional, set to change the delay between checks (in seconds)

  nextcloud:
    image: "nextcloud:latest"
    container_name: nextcloud
    restart: unless-stopped
    ports:
      - 8084:80
      - 8085:443
    links:
      - mariadb_nextcloud:mariadb
      - redis_nextcloud:redis
    volumes:
      - "{{ home_folder }}/nextcloud/config:/var/www/html/config"
      - nextcloud_data:/var/www/html
#      - "{{ files_root }}:/var/www/html/data"
      - "{{ home_folder }}/nextcloud/data:/var/www/html/data"
      - "{{ share_root }}:/share_root"
    environment:
      - "MYSQL_PASSWORD={{ password }}"
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
      - MYSQL_HOST=mariadb
      - REDIS_HOST=redis
  mariadb_nextcloud:
    image: "mariadb:latest"
    restart: unless-stopped
    container_name: mariadb
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW
    volumes:
      - mariadb_nextcloud_data:/var/lib/mysql
    environment:
      - "MYSQL_ROOT_PASSWORD={{ password }}"
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
      - "MYSQL_PASSWORD={{ password }}"
  redis_nextcloud:
    image: redis
    restart: always
    container_name: redis_nextcloud

  papermc:
    image: marctv/minecraft-papermc-server:latest
    container_name: mcserver
    restart: unless-stopped
    environment:
      - MEMORYSIZE=2G
    volumes:
      - "{{ home_folder }}/mcserver:/data:rw"
    ports:
      - 25565:25565
      - 25575:25575

  duckdns:
    image: lscr.io/linuxserver/duckdns:latest
    container_name: duckdns
    environment:
      - PUID=1000 #optional
      - PGID=1000 #optional
      - TZ=Europe/London
      - SUBDOMAINS={{ duckdns_domain}}
      - TOKEN={{ duckdns_token }}
      - LOG_FILE=false #optional
    volumes:
      - "{{ home_folder }}/duckdns/config:/config" #optional
    restart: unless-stopped

  onlyoffice-documentserver:
    image: onlyoffice/documentserver
    container_name: onlyoffice-documentserver
    depends_on:
      - onlyoffice-postgresql
#      - onlyoffice-rabbitmq
    environment:
      - DB_TYPE=postgres
      - DB_HOST=onlyoffice-postgresql
      - DB_PORT=5432
      - DB_NAME=onlyoffice
      - DB_USER=onlyoffice
#      - AMQP_URI=amqp://guest:guest@onlyoffice-rabbitmq
      # Uncomment strings below to enable the JSON Web Token validation.
      - JWT_ENABLED=true
      - JWT_SECRET={{ password }}
      - JWT_HEADER=Authorization
      - JWT_IN_BODY=true
    ports:
      - '8086:80'
    stdin_open: true
    restart: unless-stopped
    stop_grace_period: 60s
    volumes:
       - "{{ home_folder }}/onlyoffice/data:/var/www/onlyoffice/Data"
       - "{{ home_folder }}/onlyoffice/logs:/var/log/onlyoffice"
       - "{{ home_folder }}/onlyoffice/cache_files:/var/lib/onlyoffice/documentserver/App_Data/cache/files"
       - "{{ home_folder }}/onlyoffice/example_files:/var/www/onlyoffice/documentserver-example/public/files"
       - "{{ home_folder }}/onlyoffice/fonts:/usr/share/fonts"
  onlyoffice-postgresql:
    container_name: onlyoffice-postgresql
    image: postgres:9.5
    environment:
      - POSTGRES_DB=onlyoffice
      - POSTGRES_USER=onlyoffice
      - POSTGRES_HOST_AUTH_METHOD=trust
    restart: always
    expose:
      - '5432'
    volumes:
      - postgresql_data:/var/lib/postgresql

  immich-server:
    container_name: immich_server
    image: ghcr.io/immich-app/immich-server:release
    devices:
      - /dev/dri:/dev/dri
    volumes:
      - "{{ home_folder }}/immich/not_used_upload_folder:/usr/src/app/upload"
      - /etc/localtime:/etc/localtime:ro
      - "{{ share_root }}/pictures:/share_pictures"
    environment:
      - TZ=Europe/Paris
      - DB_PASSWORD=postgres
      - DB_USERNAME=postgres
      - DB_DATABASE_NAME=immich
      - REDIS_HOSTNAME=immich-redis
      - DB_HOSTNAME=immich-database
    ports:
      - 2283:2283
    depends_on:
      - immich-redis
      - immich-database
    restart: always
  immich-machine-learning:
    container_name: immich_machine_learning
    image: ghcr.io/immich-app/immich-machine-learning:release
    volumes:
      - immich-model-cache:/cache
    environment:
      - MACHINE_LEARNING_PRELOAD__CLIP=nllb-clip-base-siglip__mrl
    restart: always
  immich-redis:
    container_name: immich_redis
    image: docker.io/valkey/valkey:8-bookworm@sha256:42cba146593a5ea9a622002c1b7cba5da7be248650cbb64ecb9c6c33d29794b1
    healthcheck:
      test: redis-cli ping || exit 1
    restart: always
  immich-database:
    container_name: immich_postgres
    image: docker.io/tensorchord/pgvecto-rs:pg14-v0.2.0@sha256:739cdd626151ff1f796dc95a6591b55a714f341c737e27f045019ceabf8e8c52
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: immich
      POSTGRES_INITDB_ARGS: '--data-checksums'
    volumes:
      - "{{ home_folder }}/immich/db:/var/lib/postgresql/data"
    # healthcheck:
    #   test: >-
    #     pg_isready --dbname="$${POSTGRES_DB}" --username="$${POSTGRES_USER}" || exit 1; Chksum="$$(psql --dbname="$${POSTGRES_DB}" --username="$${POSTGRES_USER}" --tuples-only --no-align --command='SELECT COALESCE(SUM(checksum_failures), 0) FROM pg_stat_database')"; echo "checksum failure count is $$Chksum"; [ "$$Chksum" = '0' ] || exit 1
    #   interval: 5m
    #   start_interval: 30s
    #   start_period: 5m
    command: >-
      postgres -c shared_preload_libraries=vectors.so -c 'search_path="$$user", public, vectors' -c logging_collector=on -c max_wal_size=2GB -c shared_buffers=512MB -c wal_compression=on
    restart: always

  bitwarden-backup:
    image: ghcr.io/quadrubo/bitwarden-backup:v0.1.0
    container_name: bitwarden-backup
    environment:
      # Paths
      - BACKUP_PATH=/backup
      - BW_BINARY=/usr/local/bin/bw
      # Authentication
      - "BW_CLIENT_ID={{ bitwarden_client_id }}"
      - "BW_CLIENT_SECRET={{ bitwarden_client_secret }}"
      - "BW_MASTER_PASSWORD={{ bitwarden_master_password }}"
      # Connection
      - BW_SERVER=https://vault.bitwarden.com
      # Backups
      - BACKUP_FORMAT=encrypted_json
      - "BACKUP_PASSWORD={{ bitwarden_master_password }}"
      # Cron
      - CRON_SCHEDULE=0 1 * * *
      # Time
      - TZ=Europe/Paris
    volumes:
      - "{{ share_root }}/files/vincent/backup/bitwarden/:/backup"
  windows-vm:
    image: dockurr/windows
    container_name: windows
    devices:
      - /dev/kvm
    cap_add:
      - NET_ADMIN
    ports:
      - 8006:8006
      - 3389:3389/tcp
      - 3389:3389/udp
    volumes:
      - "{{ share_root }}/vm/windows:/storage"
      -  "{{ share_root }}/vm/install/windows/oem:/oem"
    stop_grace_period: 2m
    restart: on-failure
    environment:
      VERSION: "win10"
      LANGUAGE: "French"
      REGION: "fr-FR"
      KEYBOARD: "fr-FR"
      RAM_CHECK: "N"
      RAM_SIZE: "8G"
      CPU_CORES: "4"
    profiles:
      - donotstart

  macos-vm:
    image: dockurr/macos
    container_name: macos
    environment:
      VERSION: "ventura"
      RAM_SIZE: "8G"
      CPU_CORES: "4"
    devices:
      - /dev/kvm
    cap_add:
      - NET_ADMIN
    ports:
      - 8007:8006
      - 5900:5900/tcp
      - 5900:5900/udp
    volumes:
      - "{{ share_root }}/vm/macos:/storage"
    stop_grace_period: 2m
    profiles:
      - donotstart
    
  netdata:
    image: netdata/netdata
    container_name: netdata
    ports:
      - '19999:19999'
    pid: host
    #network_mode: host
    restart: unless-stopped
    cap_add:
      - SYS_PTRACE
      - SYS_ADMIN
    security_opt:
      - apparmor:unconfined
    volumes:
      - netdataconfig:/etc/netdata
      - netdatalib:/var/lib/netdata
      - netdatacache:/var/cache/netdata
      - /etc/passwd:/host/etc/passwd:ro
      - /etc/group:/host/etc/group:ro
      - /etc/localtime:/etc/localtime:ro
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /etc/os-release:/host/etc/os-release:ro
      - /var/log:/host/var/log:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /run/dbus:/run/dbus:ro


  scrutiny:
    image: ghcr.io/analogj/scrutiny:master-omnibus
    container_name: scrutiny
    restart: unless-stopped
    cap_add:
      - SYS_RAWIO
    ports:
      - "8087:8080" # webapp
      - "8088:8086" # influxDB admin
    volumes:
      - /run/udev:/run/udev:ro
      - "{{ home_folder }}/scrutiny/config:/opt/scrutiny/config"
      - "{{ home_folder }}/scrutiny/influxdb:/opt/scrutiny/influxdb"
    devices:
    # disks of share
      - "/dev/sdb"
      - "/dev/sdc"
      - "/dev/sdd"
      - "/dev/sdf"


  microbin:
    image: danielszabo99/microbin:latest
    container_name: microbin
    restart: unless-stopped
    ports:
     - 8089:8080
    volumes:
     - "{{ home_folder }}/microbin/data:/app/microbin_data"
    environment:
      - MICROBIN_ADMIN_USERNAME=admin
      - "MICROBIN_ADMIN_PASSWORD={{ password }}"
      - MICROBIN_EDITABLE=true
      - MICROBIN_FOOTER_TEXT=
      - MICROBIN_HIGHLIGHTSYNTAX=true
      - MICROBIN_PRIVATE=true
      - MICROBIN_PUBLIC_PATH=https://microbin.vincent-nas.fr/
      - MICROBIN_READONLY=true
      - "MICROBIN_UPLOADER_PASSWORD={{ password }}"
      - MICROBIN_SHOW_READ_STATS=true
      - MICROBIN_TITLE=
      - MICROBIN_THREADS=2
      - MICROBIN_GC_DAYS=0
      - MICROBIN_ENABLE_BURN_AFTER=true
      - MICROBIN_DEFAULT_BURN_AFTER=0
      - MICROBIN_QR=true
      - MICROBIN_ETERNAL_PASTA=true
      - MICROBIN_ENABLE_READONLY=true
      - MICROBIN_DEFAULT_EXPIRY=never
      # - MICROBIN_HASH_IDS=true
      # - MICROBIN_ENCRYPTION_CLIENT_SIDE=true
      - MICROBIN_ENCRYPTION_SERVER_SIDE=true
      - MICROBIN_MAX_FILE_SIZE_ENCRYPTED_MB=256
      - MICROBIN_MAX_FILE_SIZE_UNENCRYPTED_MB=2048

  pumpkin: # minecraft server, replace papermc with it in the future (TODO)
    image: ghcr.io/pumpkin-mc/pumpkin:master
    container_name: pumpkin
    restart: unless-stopped
    ports:
      - "25566:25565"
    volumes:
      - "{{ home_folder }}/pumpkin/world:/pumpkin/world"

  polaris:
    image: registry.gitlab.com/connectical/container/polaris
    container_name: polaris
    restart: unless-stopped
    ports:
      - "5050:5050"
    volumes:
      - "{{ share_root }}/musics:/music"
      - "{{ home_folder }}/polaris/cache:/var/cache/polaris"
      - "{{ home_folder }}/polaris/data:/var/lib/polaris"


volumes:
  portainer_data:
  mariadb_nextcloud_data:
  nextcloud_data:
  postgresql_data:
  netdataconfig:
  netdatalib:
  netdatacache:
  immich-model-cache:

# networks:
#   teemii-network:
#     driver: bridge
